.deck-builder {
  width: 95vw;
}

.deck-builder > div:first-child {
  flex: 1.5;
  text-align: center;
  background-color: $content-bg;
  margin-right: 1rem;
}

.deck-builder > div {
  flex: 2;
  padding: 0.5rem;
  width: 50%;
  flex-direction: column;
  text-align: start;
}

.extraDeck {
  min-height: 6rem;
}

.deck{
  height: 100%;
}

.stock {
  height: 100%;
}

.bookmarked {
  min-height: 6rem;
}

.deck-can-drop-hover {
  background-color: aqua;
}

.deck-can-drop {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  pointer-events: none;
  background-color: #8d8d8d57;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-can-drop > .deck-can-drop-icon {
  width: 3rem;
  animation: .7s linear 0s infinite sun-rise;
  position: relative;
}

@keyframes sun-rise {
  0% {
    top: -3px;
    transition-property: top;
  }
  70% {
    top: 5px;
    transition-property: top;
  }
  100% {
    top: -3px;
    transition-property: top;
  }
}

.card-area {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.cards-area-hover {
  display: block;
}

.card-area > .cards-list {
  height: 100%;
}

.deck-builder-search-menu {
  display: flex;
  flex-flow: row wrap;
}

.deck-builder-search-menu > div {
  margin-right: 1rem;
  display: flex;
  margin-bottom: .5rem;
}

.deck-builder-search-search-icon {
  display: flex;
  width: 2rem;
  height: 100%;
  padding: .25rem;
  border: solid 1px gray;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.deck-builder-search-search-icon > svg {
  margin: auto;
}

.deck-builder-search-search > input {
  border: solid 1px gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $content-bg;
  color: white;
  outline-width: 0;
  padding-left: .25rem;
}

.deck-builder-search-level-icon {
  display: flex;
  width: 2rem;
  height: 100%;
  padding: .3rem;
  border: solid 1px gray;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.deck-builder-search-level-icon > img {
  width: 100%;
}

.deck-builder-search-type-span {
  display: flex;
  // width: 2rem;
  height: 100%;
  padding: .25rem;
  border: solid 1px gray;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.deck-builder-search-level > select {
  border: solid 1px gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $content-bg;
  color: white;
  outline-width: 0;
  padding-left: .25rem;
}

.deck-builder-search-type > select {
  border: solid 1px gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $content-bg;
  color: white;
  outline-width: 0;
  padding-left: .25rem;
}
