.booster-selection-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    align-items: center;
}

.booster-container {
    display: block;
    margin: 3rem;
    width: 14rem;
}

.booster-number-input {
    display: block;
    margin-top: 0.5rem;
}

.booster-number-input > input {
    width: 3.5rem;
}

.booster-selection-box {
    background: rgb(27,29,35);
    background: linear-gradient(135deg, #1b1d2389 0%, rgba(40,44,52,0.2) 19%, rgba(112,112,112,0.2) 100%);
    border: #1b1d23 1px solid;
    padding: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 30vh;
    text-align: start;
    font-size: small;
}

.booster-cards-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  align-items: center;
}

.booster-cards-container > div {
  padding: 1rem;
  position: relative;
}

.rarity-overlay {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.rare {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  width: 12vw;
  aspect-ratio: 230 / 336;
}

.rare:after {
  animation: shine 2s ease-in-out infinite;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

.rare:active:after {
  opacity: 0;
}

@keyframes shine {
  0% {
    opacity: 1;
    top: -170%;
    left: -170%;
    transition-property: left, top, opacity;
  }
  100% {
    opacity: 0;
    top: -50%;
    left: -50%;
    transition-property: left, top, opacity;
  }
}

@keyframes rare-shadow-box-move {
  50% {
    box-shadow: 0 0 10px 5px #f5d017;
  }
}

.super-rare {
  animation: rare-shadow-box-move 5s infinite;
  box-shadow: 0 0 5px 2px #f5d017;
}

@keyframes ultra-rare-shadow-box-move {
  50% {
    box-shadow: 0 0 10px 5px #ff3eff;
  }
}

.ultra-rare {
  animation: ultra-rare-shadow-box-move 5s infinite;
  box-shadow: 0 0 5px 2px #ff3eff;
}

@keyframes secret-rare-shadow-box-move {
  50% {
    box-shadow: 0 0 9px 6px #fff, 0 0 11px 8px #f0f, 0 0 13px 10px #0ff;
  }
}

.secret-rare {
  animation: secret-rare-shadow-box-move 5s infinite;
  box-shadow: 0 0 5px 2px #fff, 0 0 7px 4px #f0f, 0 0 9px 6px #0ff;
}

.booster-flip-all-cards-icon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.booster-flip-all-cards-icon > svg {
  rotate: 60deg;
}

.booster-search-overlay {
  position: absolute;
  transform: translate(0, -100%);
  display: none;
  width: 12vw;
  aspect-ratio: 230 / 336;
}

.booster-bookmark-overlay {
  position: absolute;
  transform: translate(-50%, 50%);
  display: none;
  top: 0;
  right: 0;
  z-index: 1;
}

.booster-card {
  height: 21rem;
  width: 14rem;
}

.booster-search-overlay > div {
  display: flex;
  height: 100%;
  justify-content: center;
}

.booster-bookmark {
  width: 1.5rem;
  height: 1.5rem;
}

.booster-bookmark > svg:hover {
  fill: #ff000066;
  stroke: #ff000088;
}

.booster-bookmark-overlay.selected {
  display: block;
}

.booster-bookmark-overlay.selected > .booster-bookmark > svg {
  fill: #660000;
  stroke: #880000;
}

.booster-search > svg {
  width: 8vw;
}

.booster-search {
  margin: auto;
}


.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-inner.show {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  transform: rotateY(180deg);
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-front:hover {
  opacity: 0.5;
}

.flip-card-front:hover > .booster-bookmark-overlay,
.flip-card-front:hover > .booster-search-overlay {
  display: block;
}