$body-bg: #282c34;
$content-bg: #1b1d23;
$body-color: white;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$nav-link-color: gray;
$nav-link-hover-color: white;
$nav-tabs-link-active-color: white;
$trap-card-icon: url("../../public/img/trap_card_frame.png");

// $theme-colors: (
//   "primary": rgb(47, 82, 238),
// );

@import "bootstrap/scss/bootstrap";
