@import "./custom-theme.scss";
@import "../frontendComponent/connectionDot/style.scss";
@import "../component/DeckExplorer/style.scss";

/* ===== Scrollbar CSS ===== */
/* Firefox */
.App * {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #282c34;
}

/* Chrome, Edge, and Safari */
.App *::-webkit-scrollbar {
  width: 16px;
}

.App *::-webkit-scrollbar-track {
  background: #282c34;
}

.App *::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #282c34;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.hidden-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.max-width-20 {
  max-width: 20rem;
}

.width-20 {
  width: 20rem;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.text-left {
  text-align: left;
}

.section {
  max-height: 100vh;
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.room-table {
  border: 1px solid #596273;
  padding: 10px;
}

.room-table > tbody > tr > td {
  border-bottom: 1px inset #1b1d23;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0 0.5rem 0 0.5rem;
}

span {
  font-size: small;
  color: #6a758a;
}

.players_list {
  position: absolute;
  left: 0;
  width: 14rem;
}

.connected-badge {
  z-index: 1;
  position: fixed;
  display: flex;
  bottom: 0px;
  right: 0px;
  padding: 0 0.5rem 0 0.5rem;
  height: 2rem;
  max-width: 30rem;
  border: #1b1d23 2px solid;
  border-start-start-radius: 15px;
  background-color: #1b1d2389;
}

.connected-badge > div {
  margin: 0.1rem;
}

.connected-badge > .connected-player-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 25rem;
}

.room-side-modal {
  display: block;
  border: #1b1d23 2px solid;
  background-color: #1b1d2389;
  padding: 0 0.5rem 0 0.5rem;
}

.room-side-modal.fixed {
  position: fixed;
  top: 4%;
  z-index: 1;
  width: 13rem;
}

.room-side-modal.centered {
  width: 20rem;
}

.room-side-modal > .room-list-of-players {
  display: block;
  overflow-y: scroll;
}

.room-side-modal.fixed > .room-list-of-players {
  max-height: 5rem;
}

.room-side-modal.centered > .room-list-of-players {
  height: 10rem;
}

.room-side-modal.modal-open {
  right: 0px;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.room-side-modal.modal-close {
  right: -13rem;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.room-side-modal > .room-list-of-players > div {
  display: flex;
  padding-bottom: 0.25rem;
}

.room-side-modal > .room-side-button {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: -1.5rem;
  top: -2px;
  background-color: #1b1d2389;
  border: #1b1d23 2px solid;
  cursor: pointer;
}

.room-side-modal > .room-list-of-players > div > .player-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
  padding-left: 1rem;
}

.room-side-modal.fixed > .room-list-of-players > div > .player-name {
  max-width: 7.5rem;
}

.room-side-modal.centered > .room-list-of-players > div > .player-name {
  max-width: 14rem;
}

.room-side-modal > .room-list-of-players > div > .player-admin-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
}

.cube-last-card-picked-modal-container {
  position: fixed;
  display: block;
  top: 25%;
  right: 0;
  max-height: 50vh;
  pointer-events: none;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 1.75rem;
}

.cube-last-card-picked-modal-container > div {
  margin-bottom: 1rem;
  pointer-events: all;
}

.cube-last-card-picked-modal {
  position: relative;
  display: block;
  border: #1b1d23 2px solid;
  background-color: #1b1d2389;
  padding: 0 0.5rem 0 0.5rem;
  z-index: 1;
  width: 35rem;
  max-width: 90vw;
  height: 10rem;
}

.cube-last-card-picked-modal.modal-open
  > .last-card-picked-container
  > .last-card-picked {
  overflow-x: scroll;
}

.cube-last-card-picked-modal.modal-open {
  right: 0;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.cube-last-card-picked-modal.modal-reduce {
  right: -22rem;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.cube-last-card-picked-modal.modal-close {
  right: -35rem;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.cube-last-card-picked-modal > .cube-last-card-picked-side-button {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: -1.5rem;
  top: -2px;
  background-color: #1b1d2389;
  border: #1b1d23 2px solid;
  cursor: pointer;
}

.cube-last-card-picked-modal > .cube-last-card-picked-name {
  text-align: start;
}

.last-card-picked-container {
  display: flex;
  max-height: 80%;
}

.last-card-picked {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.last-card-picked > .last-card-picked-image {
  height: 80%;
  margin: 0 0.25rem 0 0.25rem;
}

.last-card-picked > .last-card-picked-image:hover {
  cursor: pointer;
  opacity: 0.5;
}

.last-card-picked > .last-card-picked-image > img {
  max-height: 100%;
}

.last-card-picked > .last-card-picked-image:first-child {
  height: 100%;
}

.last-card-picked-svg-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 70%;
  display: none;
}

.last-card-picked-image:hover .last-card-picked-svg-overlay {
  display: block;
}

.last-card-picked-image {
  position: relative;
  display: inline-block;
}

@-moz-document url-prefix() {
  .last-card-picked > .last-card-picked-image {
    width: 4.25rem;
  }

  .last-card-picked > .last-card-picked-image:first-child {
    width: 5.5rem;
  }
}

.pick-picture:hover {
  cursor: pointer;
  opacity: 0.5;
}

.leave-room-icon {
  width: 1.75rem;
  color: #ff0000;
}

.leave-room-icon > svg:hover {
  cursor: pointer;
  color: #8f0000;
}

.modal.small > .modal-content {
  width: 25rem;
}

.text-align-start {
  text-align: start;
}

.big-yellow-text {
  color: #f1c93b;
  font-size: xx-large;
}

.big-blue-text {
  color: #068fff;
  font-size: xx-large;
}

.hidden {
  visibility: hidden;
}

.error-dom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-status {
  font-size: 80pt;
}

.error-ooops {
  font-size: xx-large;
}

.large-container {
  width: 75vw;
}

.download-deck-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 2px solid #b6b6b6;
  cursor: pointer;
}

.download-deck-icon:hover {
  border: 2px solid #888888;
}

.download-deck-icon:hover > svg {
  stroke: #888888;
}

.download-deck-btn > svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  padding-bottom: 3px;
}

.simple-pie-root {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.simple-pie-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  color: #ffffff;
  text-align: center;
  pointer-events: visible;
  right: 50%;
  left: 50%;
}
