.App {
  text-align: center;
}

.card {
  display: flex;
}

.Cube-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 5vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  justify-items: start;
}

.small-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  justify-items: start;
}

.pick-grid {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 60vh;
}

.pick-grid > div {
  margin: 0 1rem 0 1rem;
}
.cubeList {
  list-style: none;
  font-size: 1rem;
}

.cubeList > li {
  padding: 0.5rem;
}

.pick-picture {
  width: 40vh;
}

.Cube-footer {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
}

.BoosterGame.cardsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 15px;
  list-style: none;
}

.BoosterGame.booster:hover {
  cursor: pointer;
}

.BoosterGame.boosterCards {
  display: flex;
  margin-bottom: 50px;
}

.BoosterGame.allBoosterCards {
  list-style: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 10px;
  color: lightgray;
  border: 1px solid #ffffff00;
  width: 80%;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.close {
  font-size: 28px;
}

.close:hover {
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal.open {
  display: flex;
}

.modal-card-pic > img {
  height: 65vh;
}

.modal-body {
  display: flex;
}

.modal-card-desc > ul {
  list-style: none;
}

.modal-card-desc > ul > li {
  margin: 20px;
}

.BoosterGame.cards-grid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 15px;
  min-height: 83vh;
}
