.ListBox {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.ListBox:after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top, #282c34 20%, rgba(255, 255, 255, 0) 50%);
  pointer-events: none; /* so the text is still selectable */
}

.ListBox:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(
    to bottom,
    #282c34 20%,
    rgba(255, 255, 255, 0) 50%
  );
  pointer-events: none; /* so the text is still selectable */
  z-index: 1;
}

.SlideDown > .ListItem {
  animation: move 1s;
}

.ListItem {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px; /* Add spacing between list items */
  list-style: none;
}

@keyframes move {
  0% {
    top: 0px;
  }
  100% {
    top: -31px;
  }
}
